body { 
background: url(http://cdn.dota2.com/apps/dota2/images/blogfiles/rsfalllogo.jpg) fixed repeat; 
font-family:Comic Sans MS; 
color :white; 
font-size:18px; 
} 
a:visited, a:link, a:active { 
font-family:Helvetica; 
font-weight:bold; 
color :Blue; 
font-size:9px; 
text-decoration :underline; 
} 
a:hover { 
font-family:Helvetica; 
font-weight:bold; 
color :Green; 
font-size:9px; 
text-decoration :underline; 
} 
h1 { 
font-family:Comic Sans MS; 
color : inherit ;
text-align:center; 
} 
h2 { 
font-family:Comic Sans MS; 
color :inherit; 
text-align:center; 
} 
h3 { 
font-family:Comic Sans MS; 
color :inherit; 
text-align:center; 
} 
p { 
font-family:Times New Roman; 
font-size:9px; 
color :White; 
text-align:center; 
} 
blockquote { 
font-family:Times New Roman; 
font-size:9px; 
color :Green; 
text-align:center; 
} 
